
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Dependency directories
node_modules
jspm_packages

# Build output
dist
dist-ssr
out
build
.cache

# Environment variable files
.env
.env.*.local
.eslintrc.cjs

# Next.js
.next
out

# Nuxt.js
.nuxt

# Gatsby files
.cache/
public

# Expo files
.expo
.expo-shared

# SvelteKit
.svelte-kit

# Quasar
.quasar

# Vuepress
.vuepress/dist

# Snowpack
snowpack

# Temporary folders
.tmp

# Ignore all VS Code settings and extensions except for specific files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# macOS
.DS_Store

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
```